In [139]:
!pip install selenium

import selenium                                 
from bs4 import BeautifulSoup
from selenium import webdriver                   
import pandas as pd                         
from selenium.webdriver.common.by import By     
import warnings                                 
warnings.filterwarnings("ignore")
import time                                      
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities

Requirement already satisfied: selenium in c:\datatrained\lib\site-packages (4.16.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\datatrained\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\datatrained\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\datatrained\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\datatrained\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: attrs>=20.1.0 in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: sortedcontainers in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\datatrained\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\datatrained\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\datatrained\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\datatrained\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [140]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [141]:
pip install --upgrade selenium

Requirement already satisfied: selenium in c:\datatrained\lib\site-packages (4.16.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\datatrained\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\datatrained\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\datatrained\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\datatrained\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: outcome in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: sortedcontainers in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=20.1.0 in c:\datatrained\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\datatrained\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\datatrained\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\datatrained\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\datatrained\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [551]:
driver = webdriver.Chrome()

In [553]:
driver.get("https://www.nike.com")

In [554]:
shoe = driver.find_element(By.XPATH,'//input[@class="pre-search-input headline-5"]')
shoe.send_keys('shoe')

In [555]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/div/div[3]/header/div[1]/div[2]/div/div/div[2]/div[2]/div[1]/ul/li[1]/a')
search.click()

In [556]:
for _ in range(200):
    driver.execute_script("window.scrollBy(0,200)")

In [191]:
shoename = []
shoetitle = []
color_nike = []
price_nike=[]

In [192]:
shoe_name=driver.find_elements(By.XPATH,'//a[@class="product-card__link-overlay"]')
for i in shoe_name[0:100]:
    shoe=i.text
    shoename.append(shoe)
    
shoe_title=driver.find_elements(By.XPATH,'//div[@class="product-card__subtitle"]')
for i in shoe_title[0:100]:
    shoes=i.text
    shoetitle.append(shoes)
    
color_shoe = driver.find_elements(By.XPATH,'//div[@class="product-card__product-count"]')
for i in color_shoe[0:100]:
    color=i.text
    color_nike.append(color)
    
price = driver.find_elements(By.XPATH,'//div[@class="product-price in__styling is--current-price css-11s12ax"]')
for i in price[0:100]:
    prices=i.text
    price_nike.append(prices)

In [197]:
mrp_values_nike = [price.split('₹ ')[1].replace(',', '') for price in price_nike]

In [198]:
for mrp_value in mrp_values_nike:
    print(mrp_value)

10 795.00
9 295.00
5 995.00
11 895.00
5 695.00
8 595.00
9 695.00
7 095.00
7 995.00
8 695.00
4 995.00
12 795.00
7 095.00
7 995.00
12 795.00
5 995.00
12 795.00
7 495.00
17 495.00
6 295.00
10 995.00
10 795.00
15 295.00
16 995.00
13 995.00
13 995.00
14 995.00
8 495.00
13 995.00
12 295.00
7 495.00
11 895.00
8 995.00
15 295.00
11 495.00
9 695.00
5 695.00
3 695.00
6 795.00
11 895.00
3 195.00
10 295.00
12 995.00
11 895.00
8 695.00
8 695.00
11 495.00
10 295.00
5 695.00
7 995.00
10 795.00
9 295.00
12 795.00
4 495.00
3 495.00
18 395.00
8 995.00
4 395.00
4 995.00
10 795.00
14 995.00
14 995.00
14 995.00
14 995.00
12 795.00
13 295.00
7 995.00
11 495.00
3 495.00
9 295.00
6 995.00
8 995.00
8 295.00
3 695.00
21 295.00
13 995.00
8 295.00
22 795.00
8 995.00
8 995.00
9 195.00
18 395.00
9 695.00
5 695.00
12 295.00
8 695.00
16 995.00
11 495.00
5 995.00
16 995.00
13 995.00
7 495.00
10 295.00
9 695.00
12 295.00
4 595.00
9 695.00
9 695.00
5 495.00
18 395.00

In [199]:
df1 = pd.DataFrame({'ShoeName':shoename,'Category(Men/Women)':shoetitle,'no of colors':color_nike,'Price in Rs':mrp_values_nike})

In [200]:
df1

                        ShoeName Category(Men/Women) no of colors Price in Rs
0       Nike Air Force 1 '07 LV8         Men's Shoes     1 Colour   10 795.00
1        Nike Air Force 1 Shadow       Women's Shoes     1 Colour    9 295.00
2         NikeCourt Legacy Suede         Men's Shoes     1 Colour    5 995.00
3           Nike Air Force 1 '07         Men's Shoes    2 Colours   11 895.00
4   NikeCourt Legacy Next Nature       Women's Shoes    4 Colours    5 695.00
..                           ...                 ...          ...         ...
95           Air Jordan 1 Low SE       Women's Shoes    2 Colours    4 595.00
96          Nike Air Force 1 '07         Men's Shoes     1 Colour    9 695.00
97           Air Jordan 1 Mid SE         Men's Shoes     1 Colour    9 695.00
98           Jordan 1 Low Alt SE  Baby/Toddler Shoes     1 Colour    5 495.00
99   Nike Air Force 1 '07 EasyOn               Shoes     1 Colour   18 395.00

[100 rows x 4 columns]

In [559]:
available_sizes=[]
Stars=[]
Reviews=[]
Style_code=[]

In [568]:
for i in page1_url[:100]:
    driver.get(i)
    time.sleep(3)
    
    # Sizes
    sizes = driver.find_elements(By.XPATH, '//label[@class="css-xf3ahq"]')
    for size_element in sizes:
        size_text = size_element.text.strip() if size_element.text else "--"
        available_sizes.append(size_text)

    # Stars
    stars = driver.find_elements(By.XPATH, '//p[@class="d-sm-ib pl4-sm"]')
    for star_element in stars:
        star_text = star_element.text.strip() if star_element.text else "--"
        Stars.append(star_text)

    # Reviews
    reviews = driver.find_elements(By.XPATH, '//summary[@class=" css-rptnlm"]/h3/span')
    for review_element in reviews:
        review_text = review_element.text.strip() if review_element.text else "--"
        Reviews.append(review_text)

    # Style Code
    style_codes = driver.find_elements(By.XPATH, '//li[@class="description-preview__style-color ncss-li"]')
    for style_code_element in style_codes:
        style_code_text = style_code_element.text.strip() if style_code_element.text else "--"
        Style_code.append(style_code_text)

In [570]:
Available_sizes=available_sizes[:100]
stars=Stars[:100]
reviews=Reviews[:100]
style_code=Style_code[:100]

In [571]:
df2=pd.DataFrame({'Sizes':Available_sizes[:100],'No. of stars':stars[:100],'No. of reviews':reviews[:100],'Style_code':style_code[:100]})
df2

           Sizes No. of stars No. of reviews         Style_code
0   UK 6 (EU 40)           --    Reviews (0)  Style: FJ4170-002
1         UK 6.5           --    Reviews (0)  Style: DO7449-111
2           UK 7           --    Reviews (2)  Style: DH0956-002
3         UK 7.5           --    Reviews (0)  Style: FJ4146-100
4           UK 8           --    Reviews (0)  Style: FZ4627-400
..           ...          ...            ...                ...
95  UK 6 (EU 40)           --    Reviews (5)  Style: DX4399-001
96        UK 6.5           --   Reviews (50)  Style: FJ0742-081
97          UK 7           --    Reviews (3)  Style: DD9293-011
98        UK 7.5           --   Reviews (25)  Style: FN1187-001
99          UK 8           --   Reviews (37)  Style: DD9311-101

[100 rows x 4 columns]

In [478]:
driver = webdriver.Chrome()
driver.get("https://www.adidas.com")

In [479]:
shoe = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[2]/div/header/div[2]/div/div[2]/div/input')
shoe.send_keys('shoe')

In [480]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[2]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[5]')
search.click()

In [481]:
title_adidas=[]
category_adidas=[]
color_adidas=[]
price_adidas=[]
sizes_adidas=[]
durablility_adidas=[]
stars_adidas=[]
reviews_adidas=[]
code_adidas=[]

In [488]:
start=0
end=3
for page in range(start,end):
    
    title_shoes=driver.find_elements(By.XPATH,'//p[@class="glass-product-card__title"]')
for i in title_shoes[0:100]:
    title=i.text
    title_adidas.append(title)
    
    category_shoes=driver.find_elements(By.XPATH,'//p[@class="glass-product-card__category"]')
for i in category_shoes[0:100]:
    category=i.text
    category_adidas.append(category)
    
    color = driver.find_elements(By.XPATH,'//p[@class="glass-product-card__label"]')
for i in color[0:100]:
    colors=i.text
    color_adidas.append(colors)
    
nxt_button=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[1]/div/div/div[5]/div/div[3]/div/div/div/div[2]/div/div/div/div[4]/a/span')
nxt_button.click()

In [492]:
len(title_adidas)

192

In [497]:
product_urls=[]
start=0
end=3
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@data-auto-id="glass-hockeycard-link"]')
    for i in url:
        product_urls.append(i.get_attribute("href"))
    nxt_button=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[1]/div/div/div[5]/div/div[3]/div/div/div/div[2]/div/div/div/div[4]/a/span')
    nxt_button.click()
    time.sleep(2)

In [498]:
len(product_urls)

144

In [499]:
for url in product_urls[:100]:
    driver.get(url)
    time.sleep(2)
    
    try:
        price=driver.find_element(By.XPATH,'//div[@class="product-description___1TLpA"]/div/div/div/div/div')
        price_adidas.append(price.text)
    except NoSuchElementException:
        price_adidas.append('-')
        
    try:
        sizes=driver.find_element(By.XPATH,'//button[@class="gl-label size___2lbev"]')
        sizes_adidas.append(sizes.text)
    except NoSuchElementException:
        sizes_adidas.append('-')
        
        
    try:
        Reviews=driver.find_element(By.XPATH,'//div[@class="reviews-header___1kFSZ"]/h2')
        reviews_adidas.append(Reviews.text)
    except NoSuchElementException:
        reviews_adidas.append('-')
        
    try:
        Stars=driver.find_element(By.XPATH,'//div[@class="ratings-label-container___13pr-"]/span')
        stars_adidas.append(Stars.text)
    except NoSuchElementException:
        stars_adidas.append('-')

In [584]:
len(price_adidas)

100

In [301]:
price_adidas_without_rupee = [price.replace('₹', '').strip() for price in price_adidas]

In [302]:
for price in price_adidas_without_rupee:
    print(price)

8 999.00
10 999.00
11 999.00
8 999.00
10 999.00
5 999.00
19 999.00
5 599.00
11 999.00
4 299.00
17 999.00
7 999.00
11 999.00
6 599.00
17 999.00
6 999.00
3 299.00
3 999.00
3 999.00
3 599.00
13 999.00
12 999.00
5 599.00
3 599.00
5 599.00
7 999.00
5 999.00
5 999.00
21 999.00
12 999.00
5 599.00
3 299.00
9 999.00
15 999.00
3 599.00
4 999.00
6 599.00
10 999.00
14 999.00
12 999.00
14 999.00
8 999.00
9 999.00
69 999.00
69 999.00
11 999.00
17 999.00
7 999.00
6 999.00
6 599.00
12 999.00
5 999.00
5 599.00
4 999.00
13 999.00
64 999.00
12 999.00
10 999.00
12 999.00
64 999.00
6 599.00
10 999.00
12 999.00
10 999.00
21 999.00
11 999.00
9 999.00
2 499.00
22 999.00
18 999.00
4 999.00
22 999.00
9 999.00
10 999.00
5 999.00
10 999.00
10 999.00
7 599.00
4 999.00
9 999.00
9 999.00
22 999.00
6 999.00
29 999.00
29 999.00
10 999.00
13 999.00
7 999.00
7 599.00
10 999.00
7 999.00
9 999.00
7 999.00
5 999.00
26 999.00
26 999.00

In [609]:
len(price_adidas)

100

In [585]:
df3 = pd.DataFrame({'ShoeName':title_adidas[:100],'Category(Men/Women)':category_adidas[:100],'no of colors':color_adidas[:100],'Price in Rs':price_adidas[:100]})
df3

           ShoeName Category(Men/Women) no of colors Price in Rs
0   Superstar Shoes           originals    2 colours   ₹8 999.00
1   Superstar Shoes     Women Lifestyle                ₹8 999.00
2    Samba OG Shoes           originals    2 colours  ₹10 999.00
3    Samba OG Shoes           originals    2 colours  ₹11 999.00
4   Superstar Shoes       Men originals    2 colours   ₹8 999.00
..              ...                 ...          ...         ...
95     NMD_G1 Shoes       Men Lifestyle               ₹13 999.00
96  Superstar Shoes           originals    2 colours   ₹7 999.00
97  Superstar Shoes     Women Lifestyle               ₹10 999.00
98   Samba OG Shoes           originals    4 colours   ₹7 999.00
99   Samba OG Shoes           originals    4 colours   ₹6 999.00

[100 rows x 4 columns]

In [502]:
 df4=pd.DataFrame({'Sizes':sizes_adidas[:100],'No. of stars':stars_adidas[:100],'No. of reviews':reviews_adidas[:100]})
df4

   Sizes No. of stars  No. of reviews
0      3          4.8  Reviews (4901)
1      -          4.6    Reviews (82)
2      -          4.7  Reviews (7207)
3      -          4.7  Reviews (7207)
4      -          4.8  Reviews (4902)
..   ...          ...             ...
95     -          4.3     Reviews (6)
96     -          4.5   Reviews (619)
97     -          4.7    Reviews (79)
98     -          4.2    Reviews (80)
99     -          4.3     Reviews (3)

[100 rows x 3 columns]

In [587]:
driver=webdriver.Chrome()
driver.get('https://us.puma.com/us/en')

In [588]:
footwear=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/nav/div/div/button[2]/div[1]')
footwear.click()

In [589]:
shoe=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/nav/div/div/div[1]/div[2]/div[1]/div/form/input')
shoe.send_keys('shoe')

In [590]:
srch=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div/nav/div/div/div[1]/div[2]/div[1]/div/form/div/button[2]')
srch.click()

In [591]:
India=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/main/section/div[2]/a/button').click()

In [592]:
footwear=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/nav/div/div/button[2]/div[1]')
footwear.click()

In [593]:
shoe=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/nav/div/div/div[1]/div[2]/div[1]/div/form/input')
shoe.send_keys('shoe')

In [594]:
srch=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div/nav/div/div/div[1]/div[2]/div[1]/div/form/div/button[2]')
srch.click()

In [595]:
for _ in range(300):
    driver.execute_script("window.scrollBy(0,300)")

In [315]:
title_puma = []
categories = []
colors_puma = []

In [316]:
title_pumas=driver.find_elements(By.XPATH,'//h3[@class="w-full mobile:text-sm mobile:pr-0 font-bold text-base pr-5 line-clamp-2"]')
for i in title_pumas[0:100]:
    title=i.text
    title_puma.append(title)
    
for title in title_puma:
    if "Men's" in title or "Unisex" in title:
        categories.append('men')
    elif "Women's" in title:
        categories.append('women')
    else:
        categories.append('unknown')
        
color_pumas=driver.find_elements(By.XPATH,'//span[@class="group-hover:hidden group-focus-within:hidden text-puma-black-300 uppercase text-xs whitespace-nowrap"]')
for i in color_pumas[0:100]:
    color=i.text
    colors_puma.append(color)

In [596]:
price_puma=[]

In [605]:
Price=driver.find_elements(By.XPATH,'//span[@class="whitespace-nowrap text-base text-puma-red font-bold"]')
for i in Price[0:100]:
    if i.text is None :
        price_puma.append("--") 
    else:
        price_puma.append(i.text)

In [606]:
Price_puma=price_puma[:100]
Price_puma

['₹3,299',
 '₹2,349',
 '₹2,359',
 '₹2,249',
 '₹2,499',
 '₹2,079',
 '₹2,099',
 '₹1,929',
 '₹2,109',
 '₹4,799',
 '₹1,919',
 '₹3,599',
 '₹2,639',
 '₹5,199',
 '₹2,099',
 '₹2,359',
 '₹2,499',
 '₹2,499',
 '₹2,249',
 '₹5,519',
 '₹1,719',
 '₹4,799',
 '₹3,499',
 '₹4,499',
 '₹5,459',
 '₹3,519',
 '₹3,999',
 '₹5,199',
 '₹4,499',
 '₹4,499',
 '₹3,249',
 '₹1,919',
 '₹5,199',
 '₹2,499',
 '₹3,849',
 '₹2,749',
 '₹5,199',
 '₹2,399',
 '₹3,599',
 '₹1,719',
 '₹5,499',
 '₹1,999',
 '₹5,399',
 '₹2,079',
 '₹6,599',
 '₹6,599',
 '₹2,199',
 '₹5,399',
 '₹2,199',
 '₹5,499',
 '₹11,199',
 '₹2,249',
 '₹2,249',
 '₹2,109',
 '₹3,599',
 '₹5,999',
 '₹1,929',
 '₹1,929',
 '₹5,999',
 '₹3,049',
 '₹5,199',
 '₹4,399',
 '₹4,999',
 '₹5,999',
 '₹5,199',
 '₹4,159',
 '₹2,099',
 '₹3,899',
 '₹4,499',
 '₹4,999',
 '₹2,579',
 '₹2,339',
 '₹6,749',
 '₹3,299',
 '₹2,019',
 '₹2,019',
 '₹4,799',
 '₹4,119',
 '₹1,999',
 '₹2,599',
 '₹3,369',
 '₹2,019',
 '₹2,099',
 '₹2,499',
 '₹3,999',
 '₹3,599',
 '₹1,929',
 '₹3,599',
 '₹2,399',
 '₹3,049',
 '₹11,199',
 '₹3,299',
 '₹3,299',
 '₹2,349',
 '₹2,359',
 '₹2,249',
 '₹2,499',
 '₹2,079',
 '₹2,099',
 '₹1,929']

In [607]:
len(Price_puma)

100

In [608]:
dfn = pd.DataFrame({'ShoeName':title_puma,'Category(Men/Women)':categories,'no of colors':colors_puma,'Price in Rs':Price_puma})
dfn

,ShoeName,Category(Men/Women),no of colors,Price in Rs
0,Pacer Future Allure Women's Sneakers\nFuture P...,women,3 COLORS,"₹3,299"
1,Supertec Zero Men's Sneakers\nPeacoat-Puma Whi...,men,3 COLORS,"₹2,349"
2,Cassia Women's Sneakers\nPuma White-Puma White...,women,2 COLORS,"₹2,359"
3,Flair 2 Unisex Running Shoes\nAsphalt-Puma White,men,3 COLORS,"₹2,249"
4,Redon Move Unisex Sneakers\nblack-white-high r...,men,2 COLORS,"₹2,499"
...,...,...,...,...
95,PUMA Spike 22.1 Unisex Cricket Shoes\nPUMA Whi...,men,3 COLORS,"₹2,249"
96,Puma Shuffle RES Unisex Shoes\nPUMA Black-Dark...,men,4 COLORS,"₹2,499"
97,PUMA x one8 22 FH Rubber Unisex Cricket Shoes\...,men,3 COLORS,"₹2,079"
98,Puma Foam Stride Men's Running Shoes\nFeather ...,men,4 COLORS,"₹2,099"
99,Puma Foam Stride Men's Running Shoes\nPUMA Bla...,men,5 COLORS,"₹1,929"

In [353]:
sizes_puma=[]
style_puma=[]

In [347]:
product_urls = []
urls = driver.find_elements(By.XPATH,'//a[@data-test-id="product-list-item-link"]')
for url in urls[0:100]:
    product_urls.append(url.get_attribute('href'))

In [349]:
len(product_urls)

100

In [354]:
for url in product_urls:
    driver.get(url)
    time.sleep(2)
        
    try:
        sizespuma=driver.find_element(By.XPATH,'//span[@class="text-sm"]')
        sizes_puma.append(sizespuma.text)
    except NoSuchElementException:
        sizes_puma.append('-')
        
    try:
        stylepuma=driver.find_element(By.XPATH,'//ul[@class="tw-1h4nwdw tw-r7dbwo tw-xwzea6 tw-p9uz4a list-disc list-inside"]/li')
        style_puma.append(stylepuma.text)
    except NoSuchElementException:
        style_puma.append('-')

In [504]:
dfm=pd.DataFrame({'Sizes':sizes_puma,'Style_code':style_puma})
dfm

    Sizes Style_code
0    UK 8          -
1   UK 11          -
2    UK 8          -
3    UK 6          -
4    UK 6          -
..    ...        ...
95   UK 6          -
96   UK 6          -
97   UK 6          -
98   UK 6          -
99   UK 6          -

[100 rows x 2 columns]

In [427]:
driver=webdriver.Chrome()
driver.get('https://www.woodlandworldwide.com/')
time.sleep(10)

In [428]:
footwear=driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[2]/div/div[2]/form/div/div/input')
footwear.send_keys('shoes')

In [430]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[2]/div/div[2]/form/div/div/button')
search.click()

In [431]:
shoe=driver.find_element(By.XPATH,'/html/body/div[1]/footer/div/div[2]/div[1]/div/div[1]/a[2]')
shoe.click()

In [432]:
wood_name=[]
wood_category=[]
wood_colors=[]
wood_price=[]

In [433]:
for _ in range(300):
    driver.execute_script("window.scrollBy(0,300)")

In [445]:
Name=driver.find_elements(By.XPATH,'//p[@class="productcardplp_productname__F8lks"]')
for i in Name[0:100]:
    if i.text is None :
        wood_name.append("--") 
    else:
        wood_name.append(i.text)
        
Price=driver.find_elements(By.XPATH,'//p[@class="productcardplp_productprice__jdlz6"]/span')
for i in Price[0:100]:
    if i.text is None :
        wood_price.append("--") 
    else:
        wood_price.append(i.text)

In [446]:
len(wood_name),len(wood_price)

(200, 200)

In [447]:
Wood_name=wood_name[:100]
Wood_price=wood_price[:100]

In [448]:
ctgry=[]

In [449]:
for title in wood_name:
    if "Men's" in title or "Unisex" in title:
        ctgry.append('men')
    elif "Women's" in title:
        ctgry.append('women')
    else:
        ctgry.append('unknown')

In [450]:
import re

extracted_words = []

for_pattern = re.compile(r'for\s+(\w+)')

for title in wood_name:
    match = for_pattern.search(title)
    if match:
        extracted_word = match.group(1)
        extracted_words.append(extracted_word)
    else:
        extracted_words.append('unknown')

print("Extracted Words:", extracted_words)

Extracted Words: ['Men', 'Men', 'Men', 'Men', 'Men', 'Men', 'men', 'men', 'men', 'Men', 'Men', 'unknown', 'Men', 'Men', 'Men', 'Men', 'unknown', 'Men', 'men', 'unknown', 'Men', 'unknown', 'unknown', 'men', 'Men', 'men', 'Men', 'unknown', 'unknown', 'men', 'men', 'men', 'unknown', 'men', 'Men', 'men', 'unknown', 'men', 'men', 'unknown', 'men', 'Men', 'unknown', 'unknown', 'unknown', 'men', 'men', 'men', 'men', 'men', 'Men', 'men', 'men', 'men', 'men', 'men', 'unknown', 'men', 'unknown', 'men', 'unknown', 'men', 'men', 'men', 'Men', 'Men', 'Men', 'unknown', 'Men', 'men', 'unknown', 'Men', 'Men', 'Men', 'men', 'Men', 'men', 'Men', 'Men', 'Men', 'men', 'unknown', 'men', 'Men', 'Men', 'men', 'men', 'men', 'men', 'men', 'men', 'men', 'men', 'Men', 'unknown', 'men', 'Men', 'unknown', 'Men', 'men', 'Men', 'Men', 'Men', 'Men', 'Men', 'Men', 'men', 'men', 'men', 'Men', 'Men', 'unknown', 'Men', 'Men', 'Men', 'Men', 'unknown', 'Men', 'men', 'unknown', 'Men', 'unknown', 'unknown', 'men', 'Men', 'men', 'Men', 'unknown', 'unknown', 'men', 'men', 'men', 'unknown', 'men', 'Men', 'men', 'unknown', 'men', 'men', 'unknown', 'men', 'Men', 'unknown', 'unknown', 'unknown', 'men', 'men', 'men', 'men', 'men', 'Men', 'men', 'men', 'men', 'men', 'men', 'unknown', 'men', 'unknown', 'men', 'unknown', 'men', 'men', 'men', 'Men', 'Men', 'Men', 'unknown', 'Men', 'men', 'unknown', 'Men', 'Men', 'Men', 'men', 'Men', 'men', 'Men', 'Men', 'Men', 'men', 'unknown', 'men', 'Men', 'Men', 'men', 'men', 'men', 'men', 'men', 'men', 'men', 'men', 'Men', 'unknown', 'men', 'Men', 'unknown', 'Men', 'men']

In [451]:
ctgry=extracted_words

In [452]:
Ctgry=ctgry[:100]
len(Ctgry)

100

In [453]:
page_url4 = []
urls = driver.find_elements(By.XPATH,'//a[@class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineAlways css-15kjgm"]')
for url in urls[0:300]:
    page_url4.append(url.get_attribute('href'))

In [454]:
Page_url4=page_url4[:100]
len(Page_url4)

100

In [456]:
avlb_sizes=[]
wood_colors=[]

In [457]:
for i in page_url4:
    driver.get(i)
    time.sleep(3)
    
    sizes=driver.find_elements(By.XPATH,'//button[@class="sizepicker_option__OGKzO "]//div')
for i in sizes:
    if i.text is None :
        avlb_sizes.append("--") 
    else:
        avlb_sizes.append(i.text)
        
         
    color=driver.find_elements(By.XPATH,'//h5[@class="colorpicker_colorname__sRdk8"]')
for i in sizes:
    if i.text is None :
        wood_colors.append("--") 
    else:
        wood_colors.append(i.text)

In [507]:
df5 = pd.DataFrame({'ShoeName':Wood_name[:100],'Category(Men/Women)':ctgry[:100],'no of colors':wood_colors[:100],'Price in Rs':Wood_price[:100]})
df5

                      ShoeName Category(Men/Women) no of colors Price in Rs
0   Black Slip-on Shoe for Men                 Men        black       ₹2095
1    Navy Slip-on Shoe for Men                 Men         navy       ₹2995
2       White Sneakers for Men                 Men         grey       ₹2495
3     Navy Sports Shoe for Men                 Men         blue       ₹2495
4        Black Sneaker for Men                 Men        white       ₹2295
..                         ...                 ...          ...         ...
95       Grey sneakers for men                 men        black       ₹7995
96       Grey Sneakers for Men                 Men         navy       ₹4995
97         Black Slip-on shoes             unknown         grey       ₹2995
98        Navy Sneaker for Men                 Men         blue       ₹3295
99        Navy Sneaker for men                 men        white       ₹1795

[100 rows x 4 columns]

In [511]:
df6=pd.DataFrame({'Sizes':avlb_sizes[:100]})

df6

    Sizes
0      38
1      39
2      40
3      41
4      42
..    ...
95     43
96     38
97     39
98     40
99     41

[100 rows x 1 columns]

In [613]:
import pandas as pd

df1 = pd.DataFrame({'ShoeName': shoename, 'Category(Men/Women)': shoetitle, 'no of colors': color_nike, 'Price in Rs': mrp_values_nike})
df3 = pd.DataFrame({'ShoeName': title_adidas[:100], 'Category(Men/Women)': category_adidas[:100], 'no of colors': color_adidas[:100], 'Price in Rs': price_adidas})
dfn = pd.DataFrame({'ShoeName': title_puma, 'Category(Men/Women)': categories, 'no of colors': colors_puma, 'Price in Rs': Price_puma})
df5 = pd.DataFrame({'ShoeName': Wood_name[:100], 'Category(Men/Women)': ctgry[:100], 'no of colors': wood_colors[:100], 'Price in Rs': Wood_price[:100]})

Table_1 = pd.concat([df1, df3, dfn, df5], ignore_index=True)

print(Table_1)

                         ShoeName Category(Men/Women) no of colors Price in Rs
0        Nike Air Force 1 '07 LV8         Men's Shoes     1 Colour   10 795.00
1         Nike Air Force 1 Shadow       Women's Shoes     1 Colour    9 295.00
2          NikeCourt Legacy Suede         Men's Shoes     1 Colour    5 995.00
3            Nike Air Force 1 '07         Men's Shoes    2 Colours   11 895.00
4    NikeCourt Legacy Next Nature       Women's Shoes    4 Colours    5 695.00
..                            ...                 ...          ...         ...
395         Grey sneakers for men                 men        black       ₹7995
396         Grey Sneakers for Men                 Men         navy       ₹4995
397           Black Slip-on shoes             unknown         grey       ₹2995
398          Navy Sneaker for Men                 Men         blue       ₹3295
399          Navy Sneaker for men                 men        white       ₹1795

[400 rows x 4 columns]

In [614]:
Table_1.to_csv('Table_1.csv', index=False)

In [575]:
import pandas as pd
Table2 = pd.concat([df2, df4, dfm, df6], ignore_index=True)
print(Table2)

            Sizes No. of stars No. of reviews         Style_code
0    UK 6 (EU 40)           --    Reviews (0)  Style: FJ4170-002
1          UK 6.5           --    Reviews (0)  Style: DO7449-111
2            UK 7           --    Reviews (2)  Style: DH0956-002
3          UK 7.5           --    Reviews (0)  Style: FJ4146-100
4            UK 8           --    Reviews (0)  Style: FZ4627-400
..            ...          ...            ...                ...
395            43          NaN            NaN                NaN
396            38          NaN            NaN                NaN
397            39          NaN            NaN                NaN
398            40          NaN            NaN                NaN
399            41          NaN            NaN                NaN

[400 rows x 4 columns]

In [577]:
Table2.to_csv('Table2.csv', index=False)